.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
etc/
include/
lib/
lib64/
parts/
sdist/
share/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jetbrains
.idea
modules/
*.swp
content/Efficient Methods for NLP.pdf
content/Retrieval-Augmented Generation for.pdf
models/ggml-gpt4all-j-v1.3-groovy.bin
storage/docstore.json
storage/index_store.json
storage/vector_store.json
cache/tmp6_mei39j
cache/tmp16amnl_h
cache/tmp550up0ld
cache/models--Writer--camel-5b-hf/.no_exist/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/pytorch_model.bin
cache/models--Writer--camel-5b-hf/blobs/4a2dffb78952892cf0654fc7a8d3e5eac8cdf1f9e2b0ff061535ca5afde97264
cache/models--Writer--camel-5b-hf/blobs/14f95b73a8291660a109dcbb4377a576ed57a498
cache/models--Writer--camel-5b-hf/blobs/53acde11911aeca10bccfe0a26c001702ad812b0d2f589c4999bf81e6c9a2404
cache/models--Writer--camel-5b-hf/blobs/1606525b1ba976fe7847e45901ca24b640b2539d
cache/models--Writer--camel-5b-hf/blobs/a7034a1084c454cfb736ee39e6bdabd1d337c59e
cache/models--Writer--camel-5b-hf/blobs/f167f3439699ff4559a12a5205c2f99bc8f6f231c48b84c1b288452ec279cd04
cache/models--Writer--camel-5b-hf/refs/main
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/pytorch_model-00001-of-00003.bin
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/pytorch_model-00002-of-00003.bin
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/pytorch_model-00003-of-00003.bin
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/pytorch_model.bin.index.json
.vscode/settings.json
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/config.json
cache/models--Writer--camel-5b-hf/snapshots/d1438e22a33b9115af0e47ab3a0fe844cbf588a6/generation_config.json
.vscode/settings.json
